# Prerequisites
*.d
[Ll]ibrary/
[Ll]ogs/
[Tt]emp/
[Oo]bj/
*/*/*.csproj
*/*/*.sln
*/*/.idea/
*/*/Library/
*/*/Temp/
*/*/obj/
*/*/Logs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
